/config.json
/database_config.json
/default_settings.json
/data/database_config.json
/resources/archieve/waifus.json
/resources/archieve/transfer_script.py
/resources/archieve/new_waifus.py
/resources/archieve/main_characters.json
/resources/archieve/database_config.json
/resources/archieve/Characters.db
